.selectedticket_container {
    height: 87vh;
    margin-left: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectedticket_overlay {
    background: rgba(255, 255, 255, .8);
    overflow-y: scroll;
    height: 82vh;
    width: 78vw;
    margin-top: 5vh;
}

.selectedticket-topcontainer {
    display: flex;
    width: 68vw;
    height: 15vh;
}

.selectedticket-subject {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.selectedticket-subjectField {
    display: flex;
    align-items: center;
    height: 8vh;
    background: rgb(230, 230, 230);
}

.selectedticket-tag {
    width: 30%;
    display: flex;
    flex-direction: column;
    background: lightgray;
}

.comment_profilepic {
    height: 8vw;
    width: 8vw;
}

.selected-ticket_ticketcontents {
    display: flex;
    flex-direction: column;
    margin: 3vh 2vw;
    padding: 0 20px 20px;
    margin-bottom: 5vh;
    background-color: white;
    box-shadow: 0px 2px 4px rgb(63, 63, 63);
}

.selected-ticket_comments {
    background-color: white;
    box-shadow: 0px 2px 4px rgb(63, 63, 63);
    margin: 3vh 2vw;
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    color: rgb(73, 73, 73);
}

.comment_container {
    margin: 5vh 0;
    display: flex;
    font-size: 18px;
}

.selected-ticket_comments textarea {
    height: 20vh;
    border-style: none;
    padding: 0;
    resize: none;
    background-color: rgb(230, 230, 230);
    font-size: 2.5vh;
    font-weight: lighter;
}

.selected-ticket_commentbutton {
    font-size: 2vh;
    color: white;
    background: rgb(93, 151, 156);
    box-shadow: 0px 2px 4px rgb(63, 63, 63);
    border: none;
    width: 10vw;
    height: 7vh;
    cursor: pointer;
    font-weight: lighter;
}

.selectedticket-submitcontainer {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.comment_userinfo {
    font-size: 2.5vh;
    margin-right: 1vw;
    text-align: center;
    width: 10vw;
}

.comment_commentconainer {
    font-size: 2.5vh;
    padding: 10px 10px 10px 10px;
    width: 100%;
    background-color: rgb(248, 248, 248);
}

.selected-ticket_comments textarea {
    padding: 5px;
    background-color: rgb(248, 248, 248);
}

.selectedticket_buttons {
    width: 100%;
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
}

.selectedticket_buttons button {
    font-size: 2vh;
    color: white;
    background: rgb(52, 84, 86);
    box-shadow: 0px 2px 4px rgb(63, 63, 63);
    border: none;
    width: 10vw;
    height: 7vh;
    cursor: pointer;
    font-weight: lighter;
}

.selected-ticket_buttoncontainer {
    margin-top: 1vh;
    display: flex;
    align-items: center;
}

.selectedticket_resolved {
    background-color: #3CB371 !important;
    margin-right: 1vw;
}

.selectedticket_inprogress {
    background-color: darkorange !important;
    margin-right: 1vw;
}

.selectedticket_delete {
    margin-left: 10vw;
    background-color: #f23236 !important;
}

.cancelbutton_container {
    float: right;
    margin-top: 2vh;
}

.adminbuttons_container {
    display: flex;
}