.sidenav_container {
    height: 87vh;
    width: 16vw;
    background: rgba(12, 12, 12, .7);
    position: absolute;
    font-size: 2.5vh;
}

.nav_container {
    display: flex;
}

.sidenav_container a {
    color: white;
    text-decoration: none !important;
}

.nav_container a:hover {
    color: rgb(200, 200, 200);
    text-decoration: none !important;
    cursor: pointer;
}

.sidenav_container section {
    display: flex;
    align-items: center;
    margin-top: 10vh;
    width: 12vw;
    transition: all 0.3s;
}

.sidenav_container section:hover {
    width: 14vw;
}

.sidenav_container span {
    width: 30%;
    height: 10px;
    border-bottom: .5px solid #ccc;
    display: inline-block;
    margin-bottom: 10px;
    transition: all 0.5s;
}